@font-face {
  font-family: 'Mark Pro';
  src: url('../fonts/FontFont_FF.Mark.Pro.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Mark Pro';
  src: url('../fonts/FontFont_FF.Mark.Pro.Medium.otf') format('opentype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Mark Pro';
  src: url('../fonts/FontFont_FF.Mark.Pro.Heavy.otf') format('opentype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Quantum';
  src: url('../fonts/Quantum-400.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
