@use 'utils' as *;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: $font-body;
  color: $c-text;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
figure {
  margin: 0;
}

button,
input,
textarea {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

a,
button {
  cursor: pointer;
}
